

<h1>Welcome</h1>

<br>

<h1>TreeHouses</h1>

<%= stylesheet_link_tag "listings.scss" %>

  <% @listings.each do |listing| %>
  <div class="col-sm-6 col-md-4">
    <%= link_to listing do %>
      <h2><%= listing.name %></h2>
      <%= image_tag(listing.photo,:width => 250, :height => 250, :crop => :fill,class: "img-circle") %>
    <% end %>
  </div>
  <% end %>
</div>
<br>
<br>


<!-- <br>
<h3>Please <%= link_to "register",new_user_registration_path %> first.</h3> -->

<br>
<br>
